#root {
  color: red;
}

a {
  color: greenyellow;
}

body {
  background-color: #201f2e;
  /* background-color: whitesmoke; */
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searchBar,
.ep_s_e,
.allShows {
  height: 35px;
  width: 20vw;
}

.length {
  color: beige;
  margin-left: 4rem;
}
.level100 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: solid 3px gold;
}

#warpper {
  border: double 3px tomato;
  /* flex-grow: 1;
  height: 100px; */
  width: 32%;
  padding-bottom: 12%; /* Same as width, sets height */
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;
}

.ep_name {
  color: white;
}

.summary p {
  color: aquamarine;
}

@media screen and (max-width: 680px) {
  .container {
    flex-direction: column;
  }

  .searchBar,
  .ep_s_e,
  .allShows {
    height: 35px;
    width: 75vw;
    margin: 5px 0 3px 0;
  }

  .level100 {
    flex-direction: column;
  }

  #warpper {
    border: double 1px tomato;
    width: 100%;
  }
}
